# Временные файлы Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Локальная база SQLite
*.db
*.db-wal
*.db-shm

# Папка с зависимостями (она скачается внутри)
vendor/

# Локальные папки
uploads/
.git/