# === Scanner callback ===
API_WEBHOOK_URL=http://api:8080/api/internal/scan-result
INTERNAL_KEY=super_secret_cloud_key_998

# === ClamAV ===
CLAMD_HOST=clamav
CLAMD_PORT=3310
CLAMD_ENABLED=true

# === YARA ===
YARA_RULES_DIR=/etc/yara/rules
